$main-color : #ea5c5d;

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0px;
    padding-bottom: 20px;
}

li {
    width: 77%;
    background-color: $main-color;
    color: white;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.li__description{
    color: #ea5c5d;
    width: 77%;
    background-color: #f6f6f6;
    margin-top: -30px;
    height: auto;
    border-radius: 5px;
    font-size: 18px;
}

.icon {
    color: "#ffffff";
    padding-right: '20px';
    padding-top: '4px'
}