$main-color : #ea5c5d;

.pictures{
    height: 415px;
    margin-top: 30px;
}

.coverPicture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.detailsContainer{
    display:flex;
    flex-direction: row;
    @media (max-width: 425px)  {
        flex-direction: column;
      }
}

.detailsLeft{
    width: 90%;
}

.detailsRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    padding-top: 18px;
    @media (max-width: 425px)  {
        flex-direction: row-reverse;
        height: auto;
        align-items: center;
        padding-top: 0;
      }
}

.accomodation__title{
    color: $main-color;
    font-size: 35px;
    font-weight:500;
    margin-top: 30px;
    margin-bottom: -5px;
    @media (max-width: 425px)  {
        font-size: 24px;
        font-weight: 500;
    }
}

.accomodation__location{
    font-size: 27px;
    font-weight: 500;
    margin-top: 20px;
    @media (max-width: 425px)  {
        font-size: 20px;
  }
}

.accomodation__hostDetails{
    display:flex ;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    @media (max-width: 425px)  {
    }
}

.accomodation__hostName{
    text-align: right;
    white-space: pre-line;
    color: $main-color;
    font-size: 19px;
    @media (max-width: 425px)  {
        font-size: 16px;
    }
}

.accomodation__hostPictureContainer{
    width: 64px;
    height: 64px;
    @media (max-width: 425px)  {
        height: 32px;
        width: 32px;
    }   
}

.accomodation__hostPicture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    @media (max-width: 425px)  {
        border-radius: 100%;
    }

}


.accomodation__tagsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    margin-bottom: 40px;
    @media (max-width: 425px)  {
        margin-bottom: 10px;
        gap:9px;
    }
}

.accomodation__tags{
    color: white;
    background-color: $main-color;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Montserrat;
    font-weight:600;
    border-radius: 10px;
    @media (max-width: 425px)  {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        font-weight: 500;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.accordionContainer{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;   
    @media (max-width: 425px)  {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

}

.accordion{
    width: 48.5%;
    @media (max-width: 425px)  {
    width: 100%;
    }
}

.accordion__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px;
  }

  .accordion__container2{
    width: 100%;
  }

  .aboutAccordion .accordionCustom{
    width: 100%;
  }

  .aboutAccordion .accordionCustom2{
    width: 100%;
  }

  .aboutAccordion .accordionCustom3{
    width: 100%;
  }
