$main-color : #ea5c5d;

.pictures{
    height: 415px;
    margin-top: 30px;
}

.coverPicture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.accomodation__title{
    color: $main-color;
    font-size: 35px;
    font-weight:500;
    margin-top: 30px;
    margin-bottom: -5px;
}

.accomodation__location{
    font-size: 27px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.accomodation__hostDetails{
    display:flex ;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.accomodation__hostName{
    text-align: right;
    white-space: pre-line;
    color: $main-color;
    font-size: 19px;
}

.accomodation__hostPictureContainer{
    width: 64px;
    height: 64px;
}

.accomodation__hostPicture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;

}

.accomodation__details1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accomodation__tagsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.accomodation__tags{
    color: white;
    background-color: $main-color;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Montserrat;
    font-weight:600;
    border-radius: 20px;
}

.accordionContainer{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;   

}

.accordion{
    width: 48.5%;
}

.accordion__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px;
  }

  .accordion__container2{
    width: 100%;
  }

  .aboutAccordion .accordionCustom{
    width: 100%;
  }

  .aboutAccordion .accordionCustom2{
    width: 100%;
  }

  .aboutAccordion .accordionCustom3{
    width: 100%;
  }