.footer{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-left: -50px;
    margin-right: -50px;
    @media (max-width: 425px)  {
        width: 455px;
    }
    &__rights{
        color: white;
        font-family: Montserrat;
    }
}