$main-color : #ea5c5d;

.nav{
    margin-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 425px)  {
        margin-top: 15px;
    }
    &__logo{
        height: 60px;
        @media (max-width: 768px)  {
            height: 45px;
        }
    }
    &__links{
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        font-family: Montserrat;
        list-style: none;
        @media (max-width: 768px)  {
            font-size: 15px;
        }
        @media (max-width: 425px)  {
            font-size: 14px;
            margin-right: 10px;
            gap:30px;
            text-transform: uppercase;
        }
    }
    & a {
        color: $main-color;
        text-decoration: none;

    }
}

.btn__home:hover{
    text-decoration: underline;
    color: $main-color;
}  

.btn__about:hover{
    text-decoration: underline;
    color: $main-color;
}  