.errorPage{
    font-family: Montserrat;
    color:  #ea5c5d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.errorTitle{
    font-size: 220px;
    margin: 10px;
    &__sub{
        font-size: 30px;
    }
    &__link{
        color:#ea5c5d;
        text-decoration: underline;
        padding-bottom: 100px;
    }
    
}

a :visited{
    color: #ea5c5d;
}
